<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'home/index' %>
</head>
<body>
  <div class="home">
    <div>
    </div>
    <h1>
      Budget app
    </h1>
    <div class="signIn-up">
      <div class="signIn">
        <%= link_to "Sign In", "/users/sign_in" %>  
      </div>
      <div class="signUp">
      <a href="/users/sign_up#signup">Sign Up</a>
      </div>
    </div>
  </div>
</body>
</html>
